body {
	background: #60664e;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
	position: relative;
	width:100%;
	margin:0 auto;
}

#header{
    text-align: right;
	padding-top:10px;
}
#header h1{
        float:right;
        margin: 0;
        margin-top: 2.5%;
		margin-right: 3%;
		color: white;
    }
#logo {
	width: 80px;
	height: 80px;
	left: 0;
	padding-top: 15px;
	padding-left:15px;
	position: absolute;
}
#meni ul li {
    display: inline;  
}
#meni {
	padding-top: 90px;
	margin-left: -1%;
}
#meni a {
  font-size: 20px;
  color: #c4cfab;
  text-decoration:none;   
  padding:15px;
}
#meni li a:hover {
  color:white;
}
#meni_lista {
	text-align:left;
}
#sredina{
	background-color:#ece7c5;
    margin:0;
	min-height: 1000px;
}
#glavniSadrzaj {
	background-color: #c3b491;
	width: 85%;
	min-height:1000px;
	position: relative;	
	margin: 0 auto;
}
.divovi {
	background-color: #ece2c3;
	width: 40%;
	padding-top: 10px;
	box-shadow: 5px 5px 2px #a49975;
	top: 50%;	
	left: 50%;
	transform: translate(70%, 20%);
}
#gornji_div {
	min-height: 320px;
}
#donji_div {
	min-height: 320px;
	margin-top: 50px;
}
#zadnji_div {
	min-height: 150px;
	margin-top: 50px;
}
.naslov_formi { 
	text-align: center;
	font-size: 20px;
	padding: 10px 0 20px;
	margin: 0;
	font-weight: normal;
}
#gornja_forma, #donja_forma{
	padding-left: 30px;
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.select {
	width: 50%;
	height: 30px;
}
#lista {
	padding-top: 20px;
	padding-bottom: 20px;
}
#lista_zadataka {
	border: 1px solid black;
	list-style-type: none;
	background-color:white;
	overflow: auto;
	width: 45%;
	height: 60px;
	text-align: left;
	margin: 0;
	display: inline-block;
    vertical-align: middle;
	padding: 10px;
}
#greska {
	font-size: 16px;
	padding: 5px;
	color: red;
}
input[type="text"] {
    height: 20px;
	width: 49%;
}
input[type="submit"], [type="button"]  {
    height: 30px;
	width: 130px;
	border-radius: 5px;
	border: 1px solid gray;
	border-spacing: 20px;
	position: relative;
}
#gornji_dodaj {
	margin-top: 12%;
	float: right;
	margin-right: 10%;
}
#donji_dodaj {
	float: right;
	margin-right: 12%;
}
#checkbox_spirala {
	margin-top: 6%;
	padding: 5px;
}
input[type="checkbox"] {
    width: 22px;
	height: 22px;
	position: relative;
}
#footer {
	margin: 0;
	background-color:#60664e;
	overflow: hidden;
	font-size: 16px;
	clear: both;
	max-height: 48px;
}
#footer p{
	margin-left: 15px;
	color: white;
}
@media only screen and (max-width:600px) {
  #header {
	  padding-bottom: 115px;
	  text-align: left;
  }
  #header h1 {
	  position: relative;
	  float: left;
	  left: 40px;
	  top: 400px;
  }
  #meni ul li{
	  display:block; 
	  padding-top:10px;
}
    #sredina {
		width:100%;
		min-height:1000px;
	}
    #glavniSadrzaj {
		width:100%;
		min-height:1000px;
		padding-right: 7%;
	}
	#forma {
		width:70%;
		height:auto;
	}
	#gornji_div {
		height:300px;
	}
	#donji_div {
		height:400px;
	}
	.divovi {
		/*font-size: 14px;*/
		width: 60%;
		top: 50%;	
	    left: 50%;
	    transform: translate(30%, 20%);
	}
	.naslov_formi {
		font-size: 16px;
	}
	
}
@media only screen and (max-device-width:600px) {
  #header {
	  padding-bottom: 115px;
	  text-align: left;
  }
  #header h1 {
	  position: relative;
	  float: left;
	  left: 40px;
	  top: 400px;
  }
  #meni ul li{
	  display:block; 
	  padding-top:10px;
}
    #sredina {
		width:100%;
		min-height:1000px;
	}
    #glavniSadrzaj {
		width:100%;
		min-height:1000px;
		padding-right: 7%;
	}
	#forma {
		width:70%;
		height:auto;
	}
	#gornji_div {
		height:300px;
	}
	#donji_div {
		height:400px;
	}
	.divovi {
		/*font-size: 14px;*/
		width: 60%;
		top: 50%;	
	    left: 50%;
	    transform: translate(30%, 20%);
	}
	.naslov_formi {
		font-size: 16px;
	}
}