body {
	background: #60664e;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-style: normal;
	position: relative;
	width:100%;
	margin:0 auto;
}

#header{
    text-align: right;
	padding-top:10px;
}
#header h1{
        float:right;
        margin: 0;
        margin-top: 2.5%;
		margin-right: 3%;
		color: white;
    }
#logo {
	width: 80px;
	height: 80px;
	left: 0;
	padding-top: 15px;
	padding-left:15px;
	position: absolute;
}
#meni ul li {
    display: inline;  
}
#meni {
	padding-top: 90px;
	margin-left: -1%;
}
#meni a {
  font-size: 20px;
  color: #c4cfab;
  text-decoration:none;   
  padding:15px;
}
#meni li a:hover {
  color:white;
}
#meni_lista {
	text-align:left;
}
#sredina{
	background-color: #ece7c5;
    margin:0;
	min-height: 540px;
}
#glavniSadrzaj {
	margin: auto;
	background-color: #c3b491;
	width: 85%;
	height: 540px;
	display: flex;
}
#forma {
	background-color:#ece2c3;
    padding-top: 30px;	
	top: 50%;
	left: 50%;
	width: 40%;
	height: 60%;
	transform: translate(-50%, -50%);
	box-shadow: 5px 5px 2px #a49975;
	position: relative;
}
#naslov_srednji {
	text-align: center;
	font-size: 20px;
	padding: 0 0 20px;
	margin: 0;
	font-weight: normal;
}
#greska {
	font-size: 16px;
	padding: 5px;
	color: red;
}
#forma p{
	margin: 0;
	padding-bottom: 5px;
	padding-top: 20px;
	font-size: 15px;
}
#forma form {
	padding-left: 30px;
}
input[type="text"] {
    height: 20px;
	width: 49%;
}
input[type="submit"] {
    height: 30px;
	width: 130px;
	border-radius: 5px;
	border: 1px solid gray;
	border-spacing: 20px;
	margin-top: 12%;
	float: right;
	margin-right: 10%;
	position: relative;
}
.select {
	width: 50%;
	height: 30px;
}
#fajl {
	width: 90%;
}
#glavniSadrzaj table {
	width: 80%;
	margin: auto;
}
#glavniSadrzaj th {
	text-align: left;
	background-color:gray;
}
#glavniSadrzaj table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
}
#glavniSadrzaj th, td {
	padding: 7px;
}
#footer {
	margin: 0;
	background-color:#60664e;
	overflow: hidden;
	font-size: 16px;
	clear: both;
	max-height:48px; 
}
#footer p{
	margin-left: 15px;
	color: white;
}

@media only screen and (max-width:600px) {
  #header {
	  padding-bottom: 110px;
  }
  #header h1 {
	  position: relative;
	  float: left;
	  left: 40px;
	  top: 400px;
  }
  #meni ul li{
	  display:block; 
	  padding-top:10px;
  }
  #sredina {
      width:100%;
	  height:auto;
  }
  #glavniSadrzaj {
	  width:100%;
	  height:auto;
  }
  #forma {
	  width:70%;
	  height:350px;
	  margin-top: 40%;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -30%);
	}
	
}
@media only screen and (max-device-width:600px) {
  #header {
	  padding-bottom: 110px;
  }
  #header h1 {
	  position: relative;
	  float: left;
	  left: 40px;
	  top: 400px;
  }
  #meni ul li{
	  display:block; 
	  padding-top:10px;
}
	#sredina {
		width:100%;
		height:auto;
	}
	#glavniSadrzaj {
		width:100%;
		height:auto;
	}
	#forma {
		width:70%;
	  height:350px;
	  margin-top: 40%;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -30%);
	}
}